body{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(224, 238, 250);
}

.blue-theme{
  background-color: rgb(184, 226, 245);
}

.underline{
  text-decoration: underline;
}

.italic{
  font-style: italic;
}

h1{

}